definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    main_file: streamlit_app_SmoothieOrder.py
    artifacts:
      - pyproject.toml
      - streamlit_app_SmoothieOrder.py
      - .streamlit/config.toml
